body{
    font-family: 'Roboto Mono', monospace;
}

/*Creacion del header*/

header{
    background-color: #00AC8D;
}

.encabezado{
    margin: 0 auto;
    position: relative;
    width: 60%;

}

.titulo{
    position: absolute;
    top: 20px;
    right: 0;
}

.logo-alura{
    width: 40px;
    margin: 15px;
}

h1{
    font-size: 35px;
    position: relative;
    font-weight: bolder;
    float: left;

}

h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: #00AC8D;
    border-left: 1px solid #000;

    animation: maquina 5s infinite alternate steps(12);
}

@keyframes maquina {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

/*CSS para el body*/

main{
    background: linear-gradient(to top left, rgb(0, 87, 163), rgb(0, 32, 60) );
    height: 590px;
    width: 100%;
}

/*CSS para el primer bloque */

.entrada-mensaje{
    width: 60%;
    height: 80%;
    display: inline-block;
}

.entrada-mensaje > p{
    color: white;
    margin: 1% 0 0 10%;
    font-size: 13px;
}

.texto-entrada{
    width: 80%;
    resize: none;
    background: rgb(255, 255, 255, 0.05);
    font-size: 20px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: #00AC8D;
    box-shadow: inset 0 0 5px #00AC8D, 0 0 10px #007c65;
    margin: 5% 5% 0 10%;
}

.boton-encriptar{
    color: white;
    background-color: rgb(0, 32, 60);
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 35%;
    height: 100%;
    display: inline-block;
    font-size: 17px;
}

.botones{
    width: 60%;
    height: 10%;
    margin: 4% auto;
}

.boton-desencriptar{
    color: black;
    background-color: #b5becb;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 32, 60);
    width: 35%;
    height: 100%;
    display: inline-block;
    font-size: 17px;
}

/*CSS Segundo bloque*/

.salida-mensaje{
    display: inline-block;
    width: 35%;
    vertical-align: top;
    height: 100%;
}


.texto-salida{
    width: 80%;
    height: 70%;
    resize: none;
    background: rgb(0, 0, 0, 0.5);
    font-size: 20px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: #00AC8D;
    box-shadow: inset 0 0 5px #00AC8D, 0 0 10px #007c65;
    background-image:url(imagenes/fondo.png);
    background-position: 25px 24px;
    margin: 8% 5% 0 10%;
}

.copiar{
    background-color: #007c65;
    width: 30%;
    height: 8%;
    margin: 3% auto;
    border-radius: 15px;
    box-shadow: #000;
    margin-left: 40%;
}

/*CSS Footer*/

footer{
    height: 75px;
    background-color: rgb(0, 32, 60);
    position: relative;
    text-align: center;
}

.facebook{
    width: 35px;
    display: inline-block;
}

.instagram{
    width: 35px;
    display: inline-block;
}

.linkedin{
    width: 35px;
    display: inline-block;
}

.github{
    width: 35px;
    display: inline-block;
}

.social-logos{
    width: 15%;
    position: absolute;
    top: 15px;
    right: 10px;
}

footer > img{
    width: 50px;
}

.copyrigth{
    color: wheat;
    font-size: 13px;
}